{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
  {% load static %}
  {%  block title  %} Create New Blog Category ! {% endblock%}
{% block content %}

<div class="cover">
  <div class="container">
      <div class="row mt-5 pt-5">
          <div class="col-md-6 offset-md-1">
              <div class="card my-3 shadow">
                  <div class="card-body">
                      <h4> Create New Blog Category </h4>
                      <hr>
                      <form method="POST" action="{% url 'create_category' %}">
                          {% csrf_token %}
                          {{ form|crispy }}
                          <button  class="btn btn-primary btn-sm p-2" type="submit"  value="">Add Category </button>
                      </form>
                      <hr>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
